@{
    ViewBag.Title = "About";
}
<div class="d-flex align-items-center text-center about-hotel-bg text-dark">
    <h5 class="m-5">
        The hotel offers the first-class service and the most modern facilities for their guests.
        The hotel is located on the slopes of a hill from where it is easy to reach the beaches.This hotel has ten rooms, overlooking the sea and the park, which are equipped with air conditioning, a telephone, Wi-Fi, interactive TV and a minibar.
        The hotel has several swimming pools and a restaurant.
    </h5>
</div>